{% extends 'base.html' %}

{% block main %}
    <h2>Suche</h2>

    <form method="get" action=".">
      <div class="input-append">
        <input type="text" name="q" class="span2" value="{{query}}">
        <input type="submit" class="btn" value="Suche" type="button">
      </div>
     </form> 
        {% if query %}
            <h3>Ergebnisse</h3>
            <table class="table table-striped">
            <tbody>
            {% for result in page.object_list %}
              <tr><td>{{result.object.date|date:"d.m.Y"}}</td>
                  <td>
                    <a href="/question/{{ result.object.parlid }}">
 {{ result.object.name }}</a></td>
                  <td><a href="/person/{{ result.object.asker.parlid }}">
                    {{ result.object.asker.name }}</a></td>

               </tr>     
            {% empty %}
                <tr><td>Keine Ergebnisse gefunden</td></tr>
            {% endfor %}
            </tbody>
            </table>

          {% if page.number %}
<div class="well">
{% if page.has_previous %}
            <a href="?q={{ query }}&page={{ page.previous_page_number }}">&lt;&lt;</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} von {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?q={{ query }}&page={{ page.next_page_number }}">&gt;&gt;</a>
        {% endif %}
</div>
{% endif %}

        {% else %}
        {% endif %}
{% endblock %}
